@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

#form-phone,
#form-job,
.job-left{
    display: flex;
    align-items: center;
    gap: 5px;
}

.phone-left{
    display: flex;
    align-items: center;;
    gap: 5px;
    
}

.phone-right{
   margin-left: 50px;
}

.type-job{
    border: none;
}

.type-phone{
    border-radius: 6px;
}

.job-right{
    margin-left: 17px;
}


.form-field input{
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    padding: 0 5px;
    
}
.form-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    
}

.form-field small{
    position:absolute;
    margin-top: 87px;
    max-width: 350px;
    
}
.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.footer{
    text-align: center;
}

.form-field small {
    color: var(--error-color);
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.container {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 370px;
    display: flex;
    flex-direction: column;
    
}

.form {
    padding: 10px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;

}

.twitter,
.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #4f70b5;


}

#enter-email,
#enter-username,
#enter-password,
#enter-confirm-password{
    margin-right: 10px;
}

.or{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.or-left,
.or-right{
    height: 100%;
    
   
}

.social{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 15px;
}

/* button */
.btn button {
    width: 100%;
    padding: 3%;
    background: #4f70b5;
    border-bottom: 2px solid #4f70b5;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: lowercase;

    text-align: center;
    border: none;
    border-radius: 12px;
}

.btn button:hover {
    background: #f2796e;
    border-radius: 12px;
    cursor: pointer;
}

.btn button:focus {
    outline: none;
}